body{
    font-family: 'Open Sans', sans-serif !important;
    /* color: black; */
    }
    .nav-link{
      color: black;
      font-weight: 500;
      margin-left: 10px;


    }
    .nav-link:hover{
      -ms-transform: scale(1.1); /* IE 9 */
     -webkit-transform: scale(1.1); /* Safari 3-8 */
     transform: scale(1.1); 
    }
    .nav-link:active{
      border-bottom: solid turquoise;
    }
    .footer-content{
      margin-top: 20px;
      text-align: left;
      font-weight: 400;
      color: white;
      font-size: small;
    }
    .footer-main-content{
      text-align: left;
      color: whitesmoke;
      font-size: smaller;

    }
    .centered{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        
    }
    a:hover{
        text-decoration: none;
    }
    .line{
        
        width: 15%;
       align-content: center; 
       border: 1px solid red;
       
    }
    @media only screen and (max-width: 600px) {
        .aboutimg{
            width: 100% !important;
            margin-left: 0px;
            
        }
        .about-body{
          margin: 10px !important;


        }
    }
    .about-body{
        font-size: small;
        text-align: justify;
    }
    .heading-h2{
      text-align: center; 
      margin-top: 50px;
       color: black; 
       font-weight: 500;
    }
    
    @media only screen and (max-width: 600px){
      .about-body{
        text-align: justify !important;
        margin-top: 10px !important;
      }
      .map{
        margin-right: 0px !important;
        margin-top: 0px !important;
        margin-left: 0px !important;
        margin-bottom: 20px;
        width: 100% !important;

      }
      .table-data{
        padding-top: 20px !important;
        padding-left: 20px !important;
        padding-right: 0px !important;
        padding-bottom: 20px !important;
      }
      .icon{
        padding-left: 10px !important;
        padding-top: 10px;
      }
    }
    .size{
      font-size: small;
    }
    hr{
      width: 6%;
      
      background-color: tomato !important;
      margin: auto;
      height: 4px;
    }
    .footer-li{
      font-size: small;
      color: white;
      text-align: left;
    }
   .div-background{
    width: 150px;
    height: 400px;
   
      
   }
   .map{
     margin: 30px;
     height: 400px;
     width: 500px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.452), 0 6px 20px 0 rgba(0, 0, 0, 0.452); 

   }
   .table-data{
     padding-top: 40px;
     padding-right: 100px;
     padding-bottom: 20px;
     padding-left:40px;
     color: white;
   }
   .icon{
     padding-left: 40px;
   }
   .icon:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
   }
   .mail:hover{
     color: orangered;
   }
   .block-content{
    text-align: justify;
    color: black;
    font-size: small;

  }
  .quote-slider{
    text-align: center !important;
    
    
    align-self: center;
   
   

  }
  .slider{
    height:600px;
     width: 100%;
     background-size: cover;
    background-position: center;
    background-attachment: fixed;
    }
    @media only screen and (max-width: 600px) {
      .aboutimg{
          width: 100% !important;
          margin-left: 0px !important;
          box-shadow: none!important;
          margin-bottom: 10px !important;
          
      }
      .read{
      margin-left: 90px !important;        
      }
      .card-shadow{
        margin-top: 50px;
        padding: 10px;
      }
  }
  .heading-h5{
    text-align: center !important;
    color: white;

  }
  .para{
    margin-top: 10px;
    color: white;
    text-decoration: bold;
    font-size: medium;
  }
  .hover-zoom:hover{
    -ms-transform: scale(1.1); /* IE 9 */
   -webkit-transform: scale(1.1); /* Safari 3-8 */
   transform: scale(1.1); 
  }
  .card-shadow:hover{
    /* box-shadow:5px 5px 3px lightpink; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.452), 0 6px 20px 0 rgba(0, 0, 0, 0.452); 
       -ms-transform: scale(1.02); 
       -webkit-transform: scale(1.02); 
       transform: scale(1.02); 
  }
  